<!-- BASE=webapi_layout.html -->
<!-- BEGIN=content -->
<style>

</style>

<div class="row">
   <div class="col-7">

   <h3>Network Conf Stub</h3>
   
   </div>
</div>
<div class="row">
   <div class="col-7">
   <div style="color:red;">$msg</div>
   </div>
</div>

<div class="row">
   <div class="col-7">
   <form action="/network_conf_rtn">
   <table>
   <tr><td>IP</td><td><input type=text name="ip"></td></tr>
   <tr><td>Mask</td><td><input type=text name="mask"></td></tr>
   <tr><td colspan="99"><input align="center" type="submit"</td></tr>
   </table>
   </form>
   
   </div>
</div>

<!-- END=content -->

