<!-- BASE=webapi_layout.html -->
<!-- BEGIN=content -->
<style>

</style>

<div class="row" style="">
   <div class="col-xs-7" style="margin-top:7px;">
      <h3 style="font-weight:bold;margin-bottom:20px;">Infiniti Web Interface</h3>
   </div>
</div>
<div class="row">
   <div class="col-7">

      <table class="table table-dark">
      <caption align="top">System Information</caption>
      <tr><td>MAC Addr</td><td>$mac_addr</td></tr>
      <tr><td>System Uptime</td><td>$sys_uptime</td></tr>
      <!-- BEGIN=t_row -->
      <tr><td>$t_sensor_id</td><td>$t_sensor_val</td></tr>
      <!-- END=t_row -->
      </table>

   </div>
</div>
<div class="row">
   <div class="col">
      <h3>Log Events</h3>
      <!-- BEGIN=log_row -->
      <div class="ll"> $log_line </div>
      <!-- END=log_row -->
      <!-- BEGIN=no_events -->
      <div style="color:green;font-weight:bold;"> No Log Events </div>
      <!-- END=no_events -->
   </div>
</div>

<!-- END=content -->

