<!-- BASE=webapi_layout.html -->
<!-- BEGIN=content -->
<style>

</style>

<div class="row">
   <div class="col-7">

   <h3>Credentials Stub</h3>
   
   </div>
</div>
<div class="row">
   <div class="col-7">
   <div style="color:red;">$msg</div>
   </div>
</div>

<div class="row">
   <div class="col-7">
   <form action="/credentials_rtn">
   <table>
   <tr><td>User Name</td><td><input type=text name="user_name"></td></tr>
   <tr><td>Password</td><td><input type=text name="password"></td></tr>
   <tr><td colspan="99"><input align="center" type="submit"</td></tr>
   </table>
   </form>
   
   </div>
</div>

<!-- END=content -->

